body {
  background-color: #FFFFCC;
}
h1 {
    text-align: center;
}

.mainDiv{
  background-color: red;
  flex: 1;
}


.block {
  border: 3px solid red;
  display: inline-block;
}
select{
  display: table;
  width: 300px;
}
input{
  width: 292px;
}
.container{
    width: 640px;
    margin: auto;
}
button{
  width: 303px;
  margin-right:6px;
}