<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="mainDiv">
    <h1 th:text="'Курс валют на '+${date}"></h1>
    <form method="get" action="/greeting">
        <div class="container">
            <div class="block">
                <select name="fromSelect">
                    <option th:selected="${fromSelect==0}" value="0">Рубль</option>
                    <option
                            th:each="currency, stat : ${currencyes}"
                            th:selected="${currency.getCurrency().getNumcode()==fromSelect}"
                            th:value="${currency.getCurrency().getNumcode()}"
                            th:text="${currency.getCurrency().getTitle()}">
                    </option>
                </select>
                <input type="text" th:value="${fromInput}" name="fromInput" />
            </div>
            <div class="block">
                <select name="toSelect">
                    <option th:selected="${fromSelect==0}" value="0">Рубль</option>
                    <option th:each="currency, stat : ${currencyes}"
                            th:selected="${currency.getCurrency().getNumcode()==toSelect}"
                            th:value="${currency.getCurrency().getNumcode()}"
                            th:text="${currency.getCurrency().getTitle()}">

                    </option>
                </select>
                <input type="text" th:value="${value}"readonly="readonly" />
            </div>
            <br>
            <button type="submit">Конвертировать</button>
            <input type="date" name="dateInput" th:value="${date}">
        </div>


    </form>
</div>
</body>
</html>